__pycache__
.ipynb_checkpoints
sandbox
log/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
secrets.py
*.sqlite3
flask_console.log
node_modules
