[dev-packages]
autopep8 = "*"
awsebcli = "*"

[packages]
pymysql = "*"
flask-migrate = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
authlib = "*"
gunicorn = "*"
flup = "*"
blinker = "*"
loginpass = "*"
flask-table = "*"
flask-wtf = "*"
polyline = "*"
geojson = "*"
active-alchemy = "*"

[requires]
python_version = "3.7"
