[dev-packages]
autopep8 = "*"
matplotlib = "*"

[packages]
pymysql = "*"
flask-migrate = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
authlib = "*"
gunicorn = "*"
flup = "*"
blinker = "*"
loginpass = "*"
flask-table = "*"
flask-wtf = "*"
polyline = "*"
geojson = "*"
numpy = "*"
scipy = "*"
awsebcli = "*"
virtualenvwrapper = "*"
geobuf = "*"
rdp = "*"

[requires]
python_version = "3.7"
