[dev-packages]
autopep8 = "*"
matplotlib = "*"
ebcli = "*"
virtualenv = "*"
awsebcli = "*"
virtualenvwrapper = "*"

[packages]
pymysql = "*"
flask-migrate = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
gunicorn = "*"
flup = "*"
blinker = "*"
authlib = "<1.0"
loginpass = "*"
# loginpass = {ref = "94-support-for-authlib-1.0.0", git = "https://github.com/birkjernstrom/loginpass.git"}
flask-table = "*"
flask-wtf = "*"
polyline = "*"
geojson = "*"
numpy = "*"
scipy = "*"
geobuf = "*"
rdp = {git = "https://github.com/dgarnier/rdp.git"}
lockfile = "*"
numba = "*"
importlib_metadata = "*"
tbb = "*"

[requires]
python_version = "3.8"
