		html, body
		{
			height: 100%;
			width: 100%;
			margin: auto;
		}
		
		.top
		{
			padding: 20px 20px;
		}
		
		.holder
		{
			height: 70%;
			width: 100%;
			position: relative;
		}
		
		iframe
		{
			height: 100%;
			width: 100%;
			margin: auto;
		}
		
		.bottom
		{
			height: 10%;
			display: flex;
			align-items: center;
		}
		
		.login
		{
			position: absolute;
			top: 20px;
			right: 20px;
			width: 15%;
			background-color: white;
			padding: 20px 10px;
			text-align: center;
			font-family: Montserrat, sans-serif;
			font-size:12px;
			min-width:220px;
		}

	
.cbutton { margin: auto; margin-bottom:10px;width: 80%;  text-align: center;}

.wocstravalegal {font-size:12px;margin-top:10px;}
.woclink {color: #ff7201;}
.wocstrava {margin-top:10px;}
