		html, body
		{
			height: 100%;
			width: 100%;
			margin: auto;
		}
		
		.top
		{
			height: 20%;
			font-size: 40pt;
			display: flex;
			align-items: center;
			padding: 20px 20px;
		}
		
		.holder
		{
			height: 70%;
			width: 100%;
			position: relative;
		}
		
		iframe
		{
			height: 100%;
			width: 100%;
			margin: auto;
		}
		
		.bottom
		{
			height: 10%;
			display: flex;
			align-items: center;
		}
		
		.login
		{
			position: absolute;
			top: 20px;
			right: 20px;
			width: 25%;
			background-color: white;
			padding: 20px 10px;
			text-align: center;
			font-family: Montserrat, sans-serif;
			font-size:12px;
		}

	
.cbutton {color:black; background-color:white; text-decoration:none; font-size: 14px;font-weight: bold;font-family: Montserrat, sans-serif;padding: 10px 10px; margin: auto; margin-bottom:10px;width: 80%; border: 1px solid black; text-align: center;display: block;transition: all 500ms ease;}
.cbutton-inner:before {content: url(../img/button-arrow-black.svg); float: right; margin-left: 10px; }
.cbutton-inner:hover:before {content: url(../img/button-arrow-white.svg);}
.cbutton:hover {color:white; background-color:#ff7201;}
.wocstravalegal {font-size:10px;margin-top:10px;}
.woclink {color: #ff7201;}
.wocstrava {margin-top:10px;}
