{% extends("base.html") %}

{% block styles %}

<style>

    .center {
        margin: auto;
        width: 80%;     
        padding: 10px;
    }

    .left {
        text-align: left;
    }

    div {
        /* width: 200px; */
        margin: 30px;
    }

    h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    }

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

    li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    }

    li:last-child {
    border: none;
    }

    li a {
    text-decoration: none;
    color: #000;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 400px;
    }

    li a:hover {
    font-size: 30px;
    background: #f6f6f6;
    }

</style>
{% endblock %}

{% block scripts %}
<!-- 
<script type="text/javascript">
{#    var csrf_token = "{{ csrf_token() }}";   #}

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
 -->
{% endblock %}

{% block content %}
<div class="center">
    <h2>Some statistics</h3>
    <div class='left'>
    <table>
        {% for key, value in stats.items() %}
        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <h2>Some admin functions</h2>
    <ul>
        <li><a href="{{ url_for('.athletes', ext='csv') }}">Athletes w/Auth tokens (CSV)</a></li>
    <!-- 
        <li><a href="{{ url_for('.athletes', ext='csv', has_auth=0) }}">"No auth token" Athletes (CSV)</a></li>
    -->
        <li><a href="{{ url_for('strava.club_api', api='members.csv') }}">Strava Club Members (CSV)</a></li>
        <li><a href="{{ url_for('.get_activities', ext='csv') }}">Activities List (CSV)</a></li>
    </ul>
</div>
<div class="center">
    <h2>Athletes needing to authorize:</h2><br>
    {{ incomplete_table }}
</div>
{% endblock %}