{% extends 'base.html' %}
{% block title %}Wheels of Change - Geo Art Map{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->

    <style>
        html, body {
            height: 100%;
        }

        .leaflet-control-layers-list {
            text-align: left;
        }
        .avatar-circled {
            clip-path: circle(70px at center);
        }
        #mapid {
        height: 100%;
        width: 100%;
        /* display: inline-block; */
        }
    </style>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
<script src="{{ url_for('static', filename='js/leaflet-providers.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.restoreview.js') }}"></script>
<script src="{{ url_for('static', filename='js/Polyline.encoded.js') }}"></script>
<script>
    
    // add Stamen Watercolor to map.
    var stamen_wc = L.tileLayer.provider('Stamen.Watercolor');
    var cyclosm =  L.tileLayer.provider('CyclOSM');
    var tf_ocm = L.tileLayer.provider("Thunderforest.OpenCycleMap",{apikey:'aa1d4d9511574ee5a1ebca9b7e8a5baf'});
    var tf_lands = L.tileLayer.provider("Thunderforest.Landscape",{apikey:'aa1d4d9511574ee5a1ebca9b7e8a5baf'});
    var carto_VLU = L.tileLayer.provider("CartoDB.VoyagerLabelsUnder");
    var stadia_alidade = L.tileLayer.provider('Stadia.AlidadeSmooth');
    var stadia_alidade_dark = L.tileLayer.provider('Stadia.AlidadeSmoothDark');
    var osm_mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        });
    
    var map = L.map('mapid', { layers: [carto_VLU] });
    if (!map.restoreView()) { // maybe the user was looking somewhere
        map.setView([42.2, -71.88], 8);
    }

    var popup_route = L.popup();
    var routeLayer = L.geoJSON().addTo(map);

    const routes = [
        '_B_lackLivesMatter',
        'B_l_ackLivesMatter',
        'Bl_a_ckLivesMatter',
        'Bla_c_kLivesMatter',
        'Blac_k_LivesMatter',
        'Black_L_ivesMatter',
        'BlackL_i_vesMatter',
        'BlackLi_v_esMatter',
        'BlackLiv_e_sMatter',
        'BlackLive_s_Matter',
        'BlackLives_M_atter',
        'BlackLivesM_a_tter',
        'BlackLivesMa_t_ter',
        'BlackLivesMat_t_er',
        'BlackLivesMatt_e_r',
        'BlackLivesMatte_r_'
    ];

    const colors = [
        'green', 'red', 'brown', '#0000CC', 'magenta'       
    ];

    
    function add_geojson(name, style) {
        const urlbase = "{{ url_for('static', filename='routes') }}";
        const url = `${urlbase}/${name}.geojson`
        // return a promise
        return $.ajax({
            url: url,
            timeout: 3000,
            dataType: "json",
            tryCount: 0,
            retryLimit: 5,
            success: function (json) {
                var gJ = L.geoJson(json, { style: style }).addTo(routeLayer);
                gJ.on('click', (e) => {
                    popup_route
                        .setLatLng(e.latlng)
                        .setContent(`Click to download route.<br><b><a href="${urlbase}/${name}.tcx">${name}.tcx</a></b>`)
                        .openOn(map);
                    L.DomEvent.stopPropagation(e);
                });

            },
            error: function (xhr, textStatus, errorThrown) {
                if (textStatus == 'timeout') {
                    this.tryCount++;
                    if (this.tryCount <= this.retryLimit) {
                        //try again
                        return $.ajax(this);
                    }
                    return;
                }
                if (xhr.status == 500) {
                    //handle error
                } else {
                    //handle error
                }
            }
        });
    }

    var i;
    var len = routes.length;
    for (i=0; i < len; i++) {
        add_geojson(routes[i], {color:colors[i % 5]} );
    }

    //L.polyline(polly, {color:'blue'}).addTo(map);
    //L.poline(polly)

    // Set up layers control
    var baseMaps = {
        'Stamen.Watercolor'          : stamen_wc,           
        'CycOSM'                     : cyclosm   ,       
        "Thunderforest.OpenCycleMap" : tf_ocm     ,      
        "Thunderforest.Landscape"    : tf_lands    ,    
        "CartoDB.VoyagerLabelsUnder" : carto_VLU    ,    
        'Stadia.AlidadeSmooth'       : stadia_alidade,   
        'Stadia.AlidadeSmoothDark'   : stadia_alidade_dark,
        'MapBox OSM': osm_mapbox
    };

    var overlayMaps = {
        "WOC BLM Routes": routeLayer
    };

    layer_control = L.control.layers(baseMaps, overlayMaps, { collapsed: true });

    L.Control.StravaMark = L.Control.extend({
        onAdd: function (map) {
            var img = L.DomUtil.create('img');
            img.src = "{{ url_for('static', filename = 'img/api_logo_pwrdBy_strava_stack_light.svg') }}";
            img.style.width = '150px';
            return img;
        },

        onRemove: function (map) {
            // Nothing to do here
        }
    });

    L.control.stravamark = function (opts) {
        return new L.Control.StravaMark(opts);
    }

    stravamark = L.control.stravamark({ position: 'bottomleft' });

    L.Control.Avatar = L.Control.extend({
        onAdd: function (map) {
            var img = L.DomUtil.create('img');
            img.src = "{{ user_info.profile_medium|safe }}";
            img.style.borderRadius = '50%';
            return img;
        },

        onRemove: function (map) {
            // Nothing to do here
        }
    });

    L.control.avatar = function (opts) {
        return new L.Control.Avatar(opts);
    }

    avatar = L.control.avatar({ position: 'bottomright' });

    function inIframe () {
        // safe in different broswers 
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }

    if (inIframe() == false) {
        // not in an iframe
        layer_control.addTo(map);
        stravamark.addTo(map);
        avatar.addTo(map);
        //console.log('not in iFrame');
    } else {
        //consol.log('in iframe');
    }
    
</script>
{% endblock %}

{% block content %}
<div id="mapid"></div>
{% endblock %}
