{% extends 'bootstrap/base.html' %}

{% block styles %}
<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}

{% block content %}
<div class="centered">
    <a href="{{ url_for('loginpass.login',name='strava') }}">
        <img src="{{ url_for('static', filename='images/btn_strava_connectwith_orange@2x.png') }}"
            alt="Connect with STRAVA" />
    </a>
</div>
{% endblock %}