{% extends 'base.html' %}

{% block styles %}
<style>
    .profile-avatar img {
        border-radius: 50%;
    }

    .centered {
        position: fixed;
        top: 30%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        text-align: center;
    }


</style>
{% endblock %}
{% block content %}
<div class="centered">
    <div class="profile-avatar">
        <img src="{{ user_info.profile }}">
    </div>
    <div >Welcome {{ user_info.firstname }}!</div>
    <div >
        <img src={{ url_for("static", filename='images/api_logo_pwrdBy_strava_stack_light.png') }} alt='Powered by STRAVA' >
    </div>
</div>
{% endblock %}
